{% extends "auctions/layout.html" %}

{% block body %}
<h2>Watchlist</h2>
<ul style="list-style-type:none;">
    {% for listing in listings %} 
        {% if not listing.is_closed %}
            <div style="border: 1px solid lightgray; margin: 2%; padding: 2%; border-radius: 5px; margin-left: -1%;">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            <img src="{{ listing.image }}" style="width:70%;"/>
                        </td>
                        <td style="width: 60%;"  valign="top">
                            <h4><a href="{% url 'listing' listing.id %}" >{{ listing.name }}</a></h4>
                            <br>
                            <strong>Price: ${{ listing.price }}</strong>
                            <br><br>
                            Description: {{ listing.description }}
                        </td>
                    </tr>
                </table>
            </div>
        {% endif %}
        
    {% empty %}
        <li>Start adding items to your Watchlist now!</li>

    {% endfor %}
</ul>

{% endblock %}