{% extends "crypto/layout.html" %} 

{% load static %}

{% block body %}

<div style="text-align:center;">
    <h1>About</h1>
    <h5>Crypto Portfolio is an app to track your cryptocurrency portfolio.</h5>
    <br>
    <p>
        This is used as an application for CS50's Web Programming with Python and JavaScript Capstone Project. 
        <br>This tool serves as an educational piece and should not be used as an investment advice.
        <br>Please do your own due diligence and consider your financial goals before investing.
        <br>Happy investing! 
    </p>
    <br>
    <h5>If you find any errors in your profit calculation, give the page a quick refresh!</h5>
    <br>
    <img src="https://img.freepik.com/free-vector/banner-with-cryptocurrency-coins-drawn-with-contour-lines_198278-3605.jpg?size=626&ext=jpg" alt="">
</div>

{% endblock %}